@{
    ViewData["Title"] = "Home Page";
    var titulo = "Mangaba Variedades";
}

<div class="text-center w-100 d-flex flex-column">
    <div class="container fluid w-100 d-flex row justify-content-evenly ">
        <div class="bloco1">
        Tudo que você precisa em um só lugar!
        <button class="btn btn-warning">Produtos</button>
    </div>
    <div class="bloco2 d-flex row conteudos">
        <div class="bloco2_3 d-flex w-100">
            <div class="bloco2_1">
                <button class="btn btn1">1</button>
            <div class="bloco2_2 d-flex justify-content-between">
                <button class="btn btn2">2</button>
                <button class="btn btn3">3</button>
            </div>
        </div>
        <button class="btn btn4">4</button>
        </div>
        <button class="btn btn5">5</button>
    </div>
    <div class="bloco2_mobile d-flex flex-column row">
            <button class="btn btn1_mobile">1</button>
            <button class="btn btn2_mobile">2</button>
            <button class="btn btn3_mobile">3</button>
            <button class="btn btn4_mobile">4</button>
            <button class="btn btn5_mobile">5</button>
    </div>
    <div class="container d-flex flex-column mb-5">
        <section id="title"><h3>Novidades</h3></section>
        <div class="container text-start">
            <div class="row align-items-start">
                <div class="col flex-column">
                    <a href="">IMG</a>
                    <h6>Lorem ipsum dolor sit </h6>
                    <h5>R$0,00</h5>
                </div>
                <div class="col flex-column">
                    <a href="">IMG</a>
                    <h6>Lorem ipsum dolor sit </h6>
                    <h5>R$0,00</h5>
                </div>
                <div class="col flex-column">
                    <a href="">IMG</a>
                    <h6>Lorem ipsum dolor sit </h6>
                    <h5>R$0,00</h5>
                </div>
                <div class="col flex-column">
                    <a href="">IMG</a>
                    <h6>Lorem ipsum dolor sit </h6>
                    <h5>R$0,00</h5>
                </div>
            </div>
        </div>
    </div>
</div>
