@{
    var titulo = "Início";
    ViewData["Title"] = @titulo;
}

<div class="text-center w-100 d-flex flex-column">
    <div class="container fluid w-100 d-flex row justify-content-evenly ">
        <div class="bloco1">
        Tudo que você precisa em um só lugar!
        <button class="btn btn-warning">Produtos</button>
    </div>
    <div class="bloco2 d-flex row conteudos">
        <div class="bloco2_3 d-flex w-100">
            <div class="bloco2_1">
                <button class="btn btn1">1</button>
            <div class="bloco2_2 d-flex justify-content-between">
                <button class="btn btn2">2</button>
                <button class="btn btn3">3</button>
            </div>
        </div>
        <button class="btn btn4">4</button>
        </div>
        <button class="btn btn5">5</button>
    </div>
    <div class="bloco2_mobile d-flex flex-column row">
            <button class="btn btn1_mobile">1</button>
            <button class="btn btn2_mobile">2</button>
            <button class="btn btn3_mobile">3</button>
            <button class="btn btn4_mobile">4</button>
            <button class="btn btn5_mobile">5</button>
    </div>
    <div class="container d-flex flex-column mb-5">
        <section id="title"><h3>Novidades</h3></section>
        <div class="container text-start d-flex h-100">
            <div id="carouselExampleRide" class="carousel carousel-dark slide w-100 h-100" data-bs-ride="true" data-bs-theme="dark">
                <div class="carousel-indicators botao_carrossel d-flex mb-3">
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
            <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row align-items-start">
                <div class="col flex-column pb-5">
                    <a href=""><img src="/img1.png" alt="" width="200" height="200" srcset=""></a>
                    <h6>Lorem ipsum dolor sit </h6>
                    <h5>R$0,00</h5>
            </div>
                <div class="col flex-column pb-5">
                    <a href=""><img src="/img1.png" alt="" width="200" height="200" srcset=""></a>
                    <h6>Lorem ipsum dolor sit </h6>
                    <h5>R$0,00</h5>
                </div>
                <div class="col flex-column pb-5">
                    <a href=""><img src="/img1.png" alt="" width="200" height="200" srcset=""></a>
                    <h6>Lorem ipsum dolor sit </h6>
                    <h5>R$0,00</h5>
                </div>
            </div>
                </div>
            <div class="carousel-item">
                <div class="row align-items-start">
                <div class="col flex-column pb-5">
                    <a href=""><img src="/img1.png" alt="" width="200" height="200" srcset=""></a>
                    <h6>Lorem ipsum dolor sit </h6>
                    <h5>R$0,00</h5>
                </div>
                <div class="col flex-column pb-5">
                    <a href=""><img src="/img1.png" alt="" width="200" height="200" srcset=""></a>
                    <h6>Lorem ipsum dolor sit </h6>
                    <h5>R$0,00</h5>
                </div>
                <div class="col flex-column pb-5">
                    <a href=""><img src="/img1.png" alt="" width="200" height="200" srcset=""></a>
                    <h6>Lorem ipsum dolor sit </h6>
                    <h5>R$0,00</h5>
                </div>
            </div>
                </div>
            <div class="carousel-item">
                    <div class="row align-items-start">
                <div class="col flex-column pb-5">
                    <a href=""><img src="/img1.png" alt="" width="200" height="200" srcset=""></a>
                    <h6>Lorem ipsum dolor sit </h6>
                    <h5>R$0,00</h5>
                </div>
                <div class="col flex-column pb-5">
                    <a href=""><img src="/img1.png" alt="" width="200" height="200" srcset=""></a>
                    <h6>Lorem ipsum dolor sit </h6>
                    <h5>R$0,00</h5>
                </div>
                <div class="col flex-column pb-5">
                    <a href=""><img src="/img1.png" alt="" width="200" height="200" srcset=""></a>
                    <h6>Lorem ipsum dolor sit </h6>
                    <h5>R$0,00</h5>
                </div>
            </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
            </div>
        </div>
    </div>
</div>
