@{
  var title = "Mangaba";
}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@title - @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Armarinho.styles.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap" rel="stylesheet">
    <link rel="icon" href="mVariedadesico.ico" type="image/x-icon">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom shadow-box shadow p-3 mb-5 bg-white rounded f fluid">
           <div class="container fluid justify-content-evenly w-100">
            <div class="mangabaMenu mb-3">
                <div class="row d-flex">
                    <div class="col"></div>
    <div class="col d-flex w-100 justify-content-between align-items-end conteudos">
      <a class="nav-link text-dark" style="padding: 0 10px 0 10px;"  asp-area="" asp-controller="Home" asp-action="Index">Início</a>
      <a class="nav-link text-dark" style="padding: 0 10px 0 10px;" asp-area="" asp-controller="Home" asp-action="Index">Novidades</a>
    </div>
    <div class="col d-flex justify-content-center">
      <svg xmlns="http://www.w3.org/2000/svg" width="222" height="79" viewBox="0 0 222 79" fill="none">
  <path d="M52.9803 32.9717L3.93815 43.4518L3.37402 48.3208L55.7054 56.2128L52.9803 32.9717Z" fill="#FFDE59"/>
  <mask id="mask0_147_2718" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="49" width="58" height="24">
    <path d="M0.871094 49.2056H57.5798V72.6049H0.871094V49.2056Z" fill="white"/>
  </mask>
  <g mask="url(#mask0_147_2718)">
    <path d="M56.547 63.3841L3.21073 49.7441L1.08985 67.9003C0.800083 70.3942 2.76991 72.5778 5.31619 72.5778H52.8417C55.3879 72.5778 57.3732 70.3942 57.068 67.9003L56.547 63.3841Z" fill="#DEED30"/>
  </g>
  <path d="M52.8418 31.7913L51.6026 21.2565C51.3961 19.5078 49.8948 18.1909 48.1192 18.1909H10.0267C8.23564 18.1909 6.73438 19.5078 6.54325 21.2565L4.53027 38.4364L52.8418 31.7913Z" fill="#EEBF2B"/>
  <mask id="mask1_147_2718" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="13" y="0" width="32" height="30">
    <path d="M13.498 0.199219H44.2754V29.7418H13.498V0.199219Z" fill="white"/>
  </mask>
  <g mask="url(#mask1_147_2718)">
    <path d="M42.6675 23.0055V13.5959C42.6675 6.21787 36.5669 0.211426 29.073 0.211426C21.5821 0.211426 15.4815 6.21787 15.4815 13.5959V23.0055C14.6276 23.629 14.0635 24.6174 14.0635 25.7578C14.0635 27.6556 15.6202 29.1883 17.5469 29.1883C19.4766 29.1883 21.0303 27.6556 21.0303 25.7578C21.0303 24.6326 20.4662 23.629 19.6123 23.0055V13.5959C19.6123 8.45622 23.854 4.2806 29.073 4.2806C34.2919 4.2806 38.5337 8.45622 38.5337 13.5959V23.0055C37.6798 23.629 37.1157 24.6174 37.1157 25.7578C37.1157 27.6556 38.6724 29.1883 40.6022 29.1883C42.5288 29.1883 44.0856 27.6556 44.0856 25.7578C44.0856 24.6174 43.5214 23.629 42.6675 23.0055Z" fill="#EEBF2B"/>
  </g>
  <path d="M42.0948 65.7039L40.1836 42.0674H39.937L31.6631 65.4606H26.176L17.8897 42.0674H17.6431L15.7319 65.7039H6.5332L10.1584 25.8271H19.949L28.9134 48.8311L37.8778 25.8271H47.6806L51.3059 65.7039H42.0948Z" fill="#577950"/>
  <path d="M52.1164 62.6381C49.7643 60.1078 48.5898 57.0058 48.5898 53.332C48.5898 49.6581 49.7643 46.55 52.1164 44.0014C54.4654 41.4559 57.4556 40.1816 61.0808 40.1816C64.4163 40.1816 67.1629 41.2157 69.3177 43.2837V40.9115H77.9862V65.7037H69.4163V62.9058H69.3177C67.1629 65.2597 64.4163 66.4336 61.0808 66.4336C57.4556 66.4336 54.4654 65.1685 52.1164 62.6381ZM59.4902 49.1229C58.3619 50.2177 57.8009 51.6228 57.8009 53.332C57.8009 55.035 58.3372 56.431 59.4162 57.5167C60.5013 58.5963 61.9224 59.1346 63.6826 59.1346C65.3842 59.1346 66.7807 58.5872 67.875 57.4924C68.9663 56.3975 69.515 55.0107 69.515 53.332C69.515 51.6228 68.9509 50.2177 67.8257 49.1229C66.6974 48.028 65.3164 47.4806 63.6826 47.4806C62.0118 47.4806 60.6153 48.028 59.4902 49.1229Z" fill="#577950"/>
  <path d="M79.2461 65.7037V40.9115H87.9269V43.5148H88.0255C90.2759 41.2947 92.6773 40.1816 95.2266 40.1816C96.4659 40.1816 97.6989 40.3459 98.9258 40.6682C100.15 40.9937 101.324 41.4955 102.452 42.1767C103.578 42.8518 104.49 43.8068 105.19 45.0476C105.896 46.2884 106.25 47.73 106.25 49.3662V65.7037H97.5695V51.6897C97.5695 50.4002 97.1533 49.2749 96.3241 48.3078C95.4917 47.3438 94.4066 46.8602 93.0688 46.8602C91.7617 46.8602 90.578 47.359 89.5175 48.3565C88.4571 49.354 87.9269 50.4671 87.9269 51.6897V65.7037H79.2461Z" fill="#577950"/>
  <path d="M105.889 71.7984L112.991 68.3678C114.298 70.4906 116.567 71.5551 119.798 71.5551C121.302 71.5551 122.699 71.0745 123.99 70.1196C125.279 69.1707 125.926 67.714 125.926 65.7524V63.9155C124.388 65.5942 121.641 66.4336 117.689 66.4336C114.064 66.4336 111.074 65.1685 108.725 62.6381C106.373 60.1078 105.198 57.0058 105.198 53.332C105.198 49.6581 106.373 46.55 108.725 44.0014C111.074 41.4559 114.064 40.1816 117.689 40.1816C120.926 40.1816 123.623 41.167 125.778 43.1377H125.926V40.9115H134.595V66.385C134.595 70.4055 133.238 73.5136 130.525 75.7033C127.819 77.8991 124.243 79 119.798 79C112.612 79 107.976 76.5974 105.889 71.7984ZM116.099 49.1229C114.97 50.2177 114.409 51.6228 114.409 53.332C114.409 55.035 114.946 56.431 116.025 57.5167C117.11 58.5963 118.531 59.1346 120.291 59.1346C121.993 59.1346 123.389 58.5872 124.483 57.4924C125.575 56.3975 126.123 55.0107 126.123 53.332C126.123 51.6228 125.559 50.2177 124.434 49.1229C123.306 48.028 121.925 47.4806 120.291 47.4806C118.62 47.4806 117.224 48.028 116.099 49.1229Z" fill="#577950"/>
  <path d="M137.569 62.6381C135.216 60.1078 134.042 57.0058 134.042 53.332C134.042 49.6581 135.216 46.55 137.569 44.0014C139.918 41.4559 142.908 40.1816 146.533 40.1816C149.868 40.1816 152.615 41.2157 154.77 43.2837V40.9115H163.438V65.7037H154.868V62.9058H154.77C152.615 65.2597 149.868 66.4336 146.533 66.4336C142.908 66.4336 139.918 65.1685 137.569 62.6381ZM144.942 49.1229C143.814 50.2177 143.253 51.6228 143.253 53.332C143.253 55.035 143.789 56.431 144.868 57.5167C145.953 58.5963 147.375 59.1346 149.135 59.1346C150.836 59.1346 152.233 58.5872 153.327 57.4924C154.418 56.3975 154.967 55.0107 154.967 53.332C154.967 51.6228 154.403 50.2177 153.278 49.1229C152.15 48.028 150.769 47.4806 149.135 47.4806C147.464 47.4806 146.067 48.028 144.942 49.1229Z" fill="#577950"/>
  <path d="M190.572 44.0016C192.921 46.5502 194.098 49.6583 194.098 53.3321C194.098 57.0059 192.921 60.108 190.572 62.6383C188.22 65.1686 185.233 66.4338 181.607 66.4338C178.278 66.4338 175.535 65.2599 173.383 62.9059H173.284V65.7039H164.702V24.1362H173.383V43.2839C175.535 41.2158 178.278 40.1818 181.607 40.1818C185.233 40.1818 188.22 41.4561 190.572 44.0016ZM183.272 57.5169C184.348 56.4311 184.887 55.0352 184.887 53.3321C184.887 51.6229 184.323 50.2179 183.198 49.123C182.07 48.0282 180.673 47.4808 179.006 47.4808C177.378 47.4808 176 48.0282 174.875 49.123C173.747 50.2179 173.186 51.6229 173.186 53.3321C173.186 55.0109 173.731 56.3977 174.826 57.4925C175.917 58.5874 177.31 59.1348 179.006 59.1348C180.772 59.1348 182.193 58.5965 183.272 57.5169Z" fill="#577950"/>
  <path d="M195.259 62.6381C192.907 60.1078 191.732 57.0058 191.732 53.332C191.732 49.6581 192.907 46.55 195.259 44.0014C197.608 41.4559 200.598 40.1816 204.223 40.1816C207.559 40.1816 210.305 41.2157 212.46 43.2837V40.9115H221.129V65.7037H212.559V62.9058H212.46C210.305 65.2597 207.559 66.4336 204.223 66.4336C200.598 66.4336 197.608 65.1685 195.259 62.6381ZM202.633 49.1229C201.504 50.2177 200.943 51.6228 200.943 53.332C200.943 55.035 201.48 56.431 202.559 57.5167C203.644 58.5963 205.065 59.1346 206.825 59.1346C208.527 59.1346 209.923 58.5872 211.018 57.4924C212.109 56.3975 212.658 55.0107 212.658 53.332C212.658 51.6228 212.093 50.2177 210.968 49.1229C209.84 48.028 208.459 47.4806 206.825 47.4806C205.154 47.4806 203.758 48.028 202.633 49.1229Z" fill="#577950"/>
  <path d="M141.562 76.1247C141.389 76.1247 141.235 76.0791 141.106 75.9909C140.983 75.9027 140.878 75.7658 140.798 75.5773L139.145 71.794C139.087 71.648 139.065 71.5111 139.084 71.3804C139.099 71.2526 139.161 71.1492 139.269 71.0762C139.373 70.9972 139.521 70.9546 139.712 70.9546C139.867 70.9546 139.996 70.9911 140.095 71.0641C140.193 71.131 140.28 71.2648 140.354 71.4655L141.759 74.9082H141.439L142.881 71.4534C142.962 71.2587 143.054 71.131 143.153 71.0641C143.251 70.9911 143.387 70.9546 143.56 70.9546C143.714 70.9546 143.837 70.9972 143.93 71.0762C144.019 71.1492 144.071 71.2526 144.09 71.3804C144.115 71.502 144.09 71.6419 144.016 71.794L142.339 75.5773C142.256 75.7658 142.148 75.9027 142.018 75.9909C141.895 76.0791 141.741 76.1247 141.562 76.1247Z" fill="#445441"/>
  <path d="M149.802 76.1363C149.438 76.1363 149.115 76.0663 148.828 75.9295C148.538 75.7926 148.313 75.6071 148.15 75.3699C147.983 75.1266 147.903 74.8559 147.903 74.5548C147.903 74.1838 147.996 73.8919 148.187 73.679C148.384 73.46 148.699 73.3079 149.136 73.2167C149.571 73.1194 150.16 73.0707 150.9 73.0707H151.418V73.8006H150.912C150.474 73.8006 150.129 73.8249 149.876 73.8736C149.62 73.9162 149.438 73.9831 149.334 74.0804C149.226 74.1777 149.173 74.3176 149.173 74.494C149.173 74.7221 149.25 74.9076 149.408 75.0536C149.571 75.1935 149.793 75.2604 150.074 75.2604C150.302 75.2604 150.505 75.2087 150.678 75.1023C150.857 74.9989 150.998 74.8529 151.097 74.6643C151.202 74.4788 151.257 74.269 151.257 74.0318V72.8518C151.257 72.5111 151.177 72.2678 151.023 72.1219C150.875 71.9698 150.619 71.8907 150.258 71.8907C150.061 71.8907 149.845 71.915 149.617 71.9637C149.386 72.0124 149.139 72.0945 148.877 72.207C148.745 72.2739 148.631 72.2922 148.532 72.2678C148.434 72.2374 148.353 72.1796 148.298 72.0975C148.239 72.0093 148.212 71.915 148.212 71.8177C148.212 71.7143 148.239 71.6109 148.298 71.5136C148.353 71.4102 148.449 71.3311 148.582 71.2825C148.902 71.1547 149.204 71.0635 149.494 71.0148C149.79 70.9601 150.061 70.9297 150.308 70.9297C150.801 70.9297 151.208 71.0088 151.529 71.1608C151.855 71.3068 152.099 71.5349 152.256 71.8421C152.41 72.1431 152.49 72.5324 152.49 73.0099V75.4672C152.49 75.6801 152.435 75.8413 152.33 75.9538C152.231 76.0663 152.086 76.1241 151.898 76.1241C151.701 76.1241 151.547 76.0663 151.442 75.9538C151.334 75.8413 151.282 75.6801 151.282 75.4672V74.9685H151.368C151.319 75.2118 151.22 75.4246 151.072 75.601C150.93 75.7713 150.755 75.9052 150.542 76.0025C150.326 76.0907 150.08 76.1363 149.802 76.1363Z" fill="#445441"/>
  <path d="M157.634 76.1241C157.418 76.1241 157.254 76.0663 157.14 75.9537C157.023 75.8412 156.968 75.68 156.968 75.4672V71.5987C156.968 71.3797 157.02 71.2185 157.128 71.1121C157.242 71.0087 157.399 70.954 157.597 70.954C157.8 70.954 157.957 71.0087 158.065 71.1121C158.17 71.2185 158.226 71.3797 158.226 71.5987V72.2434H158.127C158.226 71.8298 158.414 71.5196 158.694 71.3067C158.981 71.0969 159.36 70.9722 159.828 70.9296C159.976 70.9144 160.091 70.9509 160.174 71.0391C160.263 71.1212 160.316 71.252 160.334 71.4284C160.34 71.5987 160.297 71.7386 160.198 71.842C160.106 71.9484 159.97 72.0123 159.791 72.0366L159.557 72.0488C159.138 72.0975 158.82 72.2313 158.608 72.4502C158.392 72.6631 158.287 72.9612 158.287 73.3504V75.4672C158.287 75.68 158.229 75.8412 158.115 75.9537C158.007 76.0663 157.846 76.1241 157.634 76.1241Z" fill="#445441"/>
  <path d="M164.83 76.1124C164.623 76.1124 164.463 76.0516 164.349 75.9299C164.241 75.8083 164.189 75.638 164.189 75.419V71.66C164.189 71.435 164.241 71.2586 164.349 71.1369C164.463 71.0153 164.623 70.9544 164.83 70.9544C165.033 70.9544 165.194 71.0153 165.311 71.1369C165.425 71.2586 165.483 71.435 165.483 71.66V75.419C165.483 75.638 165.425 75.8083 165.311 75.9299C165.203 76.0516 165.043 76.1124 164.83 76.1124ZM164.83 70.0056C164.583 70.0056 164.392 69.9508 164.263 69.8353C164.13 69.7136 164.065 69.5433 164.065 69.3243C164.065 69.1145 164.13 68.9533 164.263 68.8377C164.392 68.7161 164.583 68.6553 164.83 68.6553C165.077 68.6553 165.265 68.7161 165.397 68.8377C165.527 68.9533 165.594 69.1145 165.594 69.3243C165.594 69.5433 165.527 69.7136 165.397 69.8353C165.265 69.9508 165.077 70.0056 164.83 70.0056Z" fill="#445441"/>
  <path d="M172.487 76.1363C171.91 76.1363 171.414 76.0329 170.995 75.82C170.582 75.6102 170.261 75.3091 170.033 74.9198C169.811 74.5305 169.7 74.0743 169.7 73.5452C169.7 73.0281 169.805 72.572 170.021 72.1827C170.243 71.7934 170.545 71.4893 170.933 71.2703C171.319 71.0453 171.753 70.9297 172.24 70.9297C172.601 70.9297 172.925 70.9875 173.214 71.1C173.501 71.2156 173.748 71.3798 173.954 71.5988C174.158 71.8177 174.315 72.0854 174.423 72.4016C174.528 72.7119 174.583 73.0586 174.583 73.4478C174.583 73.5695 174.537 73.6638 174.448 73.7276C174.364 73.7945 174.241 73.8249 174.078 73.8249H170.748V73.095H173.671L173.498 73.241C173.498 72.9247 173.449 72.6632 173.35 72.4503C173.258 72.2405 173.122 72.0793 172.943 71.9637C172.771 71.8512 172.552 71.7934 172.29 71.7934C172 71.7934 171.753 71.8633 171.55 72.0002C171.343 72.131 171.186 72.3165 171.081 72.5598C170.973 72.8031 170.921 73.092 170.921 73.4235V73.4965C170.921 74.0561 171.05 74.4758 171.316 74.7495C171.587 75.0262 171.981 75.1631 172.499 75.1631C172.678 75.1631 172.882 75.1448 173.103 75.1023C173.332 75.0536 173.547 74.9776 173.745 74.8711C173.893 74.7921 174.019 74.7556 174.127 74.7616C174.241 74.7708 174.33 74.8103 174.398 74.8833C174.463 74.9502 174.5 75.0354 174.509 75.1388C174.525 75.2361 174.509 75.3395 174.46 75.4429C174.411 75.5402 174.324 75.6254 174.201 75.6983C173.954 75.8535 173.671 75.966 173.35 76.039C173.036 76.1028 172.749 76.1363 172.487 76.1363Z" fill="#445441"/>
  <path d="M180.71 76.1365C180.266 76.1365 179.875 76.0331 179.539 75.8202C179.2 75.6104 178.938 75.3093 178.75 74.92C178.568 74.5247 178.479 74.0624 178.479 73.5332C178.479 72.9919 178.568 72.5296 178.75 72.1464C178.938 71.7571 179.2 71.4591 179.539 71.2462C179.875 71.0364 180.266 70.9299 180.71 70.9299C181.13 70.9299 181.493 71.0333 181.808 71.2341C182.128 71.4378 182.341 71.7085 182.449 72.0491H182.338V69.385C182.338 69.1751 182.39 69.017 182.498 68.9105C182.612 68.798 182.773 68.7402 182.979 68.7402C183.192 68.7402 183.352 68.798 183.46 68.9105C183.574 69.017 183.633 69.1751 183.633 69.385V75.4675C183.633 75.6803 183.577 75.8415 183.472 75.9541C183.365 76.0666 183.204 76.1244 182.992 76.1244C182.785 76.1244 182.625 76.0666 182.511 75.9541C182.403 75.8415 182.35 75.6803 182.35 75.4675V74.6646L182.461 74.9687C182.363 75.3276 182.153 75.6104 181.832 75.8202C181.512 76.0331 181.136 76.1365 180.71 76.1365ZM181.068 75.1633C181.33 75.1633 181.555 75.1025 181.746 74.9809C181.943 74.8592 182.094 74.6767 182.202 74.4334C182.307 74.1901 182.363 73.8921 182.363 73.5332C182.363 72.9828 182.242 72.5722 182.005 72.3046C181.774 72.0369 181.463 71.9031 181.068 71.9031C180.812 71.9031 180.587 71.9639 180.39 72.0856C180.199 72.2012 180.051 72.3776 179.946 72.6209C179.838 72.8642 179.786 73.1683 179.786 73.5332C179.786 74.0685 179.9 74.476 180.131 74.7497C180.368 75.0265 180.68 75.1633 181.068 75.1633Z" fill="#445441"/>
  <path d="M189.808 76.1363C189.444 76.1363 189.121 76.0663 188.834 75.9295C188.544 75.7926 188.319 75.6071 188.156 75.3699C187.989 75.1266 187.909 74.8559 187.909 74.5548C187.909 74.1838 188.002 73.8919 188.193 73.679C188.39 73.46 188.705 73.3079 189.142 73.2167C189.577 73.1194 190.166 73.0707 190.906 73.0707H191.423V73.8006H190.918C190.48 73.8006 190.135 73.8249 189.882 73.8736C189.626 73.9162 189.444 73.9831 189.34 74.0804C189.232 74.1777 189.179 74.3176 189.179 74.494C189.179 74.7221 189.256 74.9076 189.414 75.0536C189.577 75.1935 189.799 75.2604 190.079 75.2604C190.307 75.2604 190.511 75.2087 190.684 75.1023C190.862 74.9989 191.004 74.8529 191.103 74.6643C191.208 74.4788 191.263 74.269 191.263 74.0318V72.8518C191.263 72.5111 191.183 72.2678 191.029 72.1219C190.881 71.9698 190.625 71.8907 190.264 71.8907C190.067 71.8907 189.851 71.915 189.623 71.9637C189.392 72.0124 189.145 72.0945 188.883 72.207C188.751 72.2739 188.637 72.2922 188.538 72.2678C188.439 72.2374 188.359 72.1796 188.304 72.0975C188.245 72.0093 188.217 71.915 188.217 71.8177C188.217 71.7143 188.245 71.6109 188.304 71.5136C188.359 71.4102 188.455 71.3311 188.587 71.2825C188.908 71.1547 189.21 71.0635 189.5 71.0148C189.796 70.9601 190.067 70.9297 190.314 70.9297C190.807 70.9297 191.214 71.0088 191.534 71.1608C191.861 71.3068 192.105 71.5349 192.262 71.8421C192.416 72.1431 192.496 72.5324 192.496 73.0099V75.4672C192.496 75.6801 192.441 75.8413 192.336 75.9538C192.237 76.0663 192.092 76.1241 191.904 76.1241C191.707 76.1241 191.553 76.0663 191.448 75.9538C191.34 75.8413 191.288 75.6801 191.288 75.4672V74.9685H191.374C191.325 75.2118 191.226 75.4246 191.078 75.601C190.936 75.7713 190.761 75.9052 190.548 76.0025C190.332 76.0907 190.086 76.1363 189.808 76.1363Z" fill="#445441"/>
  <path d="M198.923 76.1365C198.479 76.1365 198.088 76.0331 197.752 75.8202C197.413 75.6104 197.151 75.3093 196.963 74.92C196.781 74.5247 196.691 74.0624 196.691 73.5332C196.691 72.9919 196.781 72.5296 196.963 72.1464C197.151 71.7571 197.413 71.4591 197.752 71.2462C198.088 71.0364 198.479 70.9299 198.923 70.9299C199.342 70.9299 199.706 71.0333 200.021 71.2341C200.341 71.4378 200.554 71.7085 200.662 72.0491H200.551V69.385C200.551 69.1751 200.603 69.017 200.711 68.9105C200.825 68.798 200.986 68.7402 201.192 68.7402C201.405 68.7402 201.565 68.798 201.673 68.9105C201.787 69.017 201.846 69.1751 201.846 69.385V75.4675C201.846 75.6803 201.79 75.8415 201.685 75.9541C201.577 76.0666 201.417 76.1244 201.204 76.1244C200.998 76.1244 200.838 76.0666 200.724 75.9541C200.616 75.8415 200.563 75.6803 200.563 75.4675V74.6646L200.674 74.9687C200.576 75.3276 200.366 75.6104 200.045 75.8202C199.725 76.0331 199.349 76.1365 198.923 76.1365ZM199.281 75.1633C199.543 75.1633 199.768 75.1025 199.959 74.9809C200.156 74.8592 200.307 74.6767 200.415 74.4334C200.52 74.1901 200.576 73.8921 200.576 73.5332C200.576 72.9828 200.455 72.5722 200.218 72.3046C199.987 72.0369 199.675 71.9031 199.281 71.9031C199.025 71.9031 198.8 71.9639 198.603 72.0856C198.412 72.2012 198.264 72.3776 198.159 72.6209C198.051 72.8642 197.998 73.1683 197.998 73.5332C197.998 74.0685 198.113 74.476 198.344 74.7497C198.581 75.0265 198.892 75.1633 199.281 75.1633Z" fill="#445441"/>
  <path d="M208.858 76.1363C208.282 76.1363 207.785 76.0329 207.366 75.82C206.953 75.6102 206.632 75.3091 206.404 74.9198C206.182 74.5305 206.071 74.0743 206.071 73.5452C206.071 73.0281 206.176 72.572 206.392 72.1827C206.614 71.7934 206.916 71.4893 207.304 71.2703C207.69 71.0453 208.124 70.9297 208.611 70.9297C208.972 70.9297 209.296 70.9875 209.586 71.1C209.872 71.2156 210.119 71.3798 210.325 71.5988C210.529 71.8177 210.686 72.0854 210.794 72.4016C210.899 72.7119 210.954 73.0586 210.954 73.4478C210.954 73.5695 210.908 73.6638 210.819 73.7276C210.735 73.7945 210.612 73.8249 210.449 73.8249H207.119V73.095H210.042L209.869 73.241C209.869 72.9247 209.82 72.6632 209.721 72.4503C209.629 72.2405 209.493 72.0793 209.314 71.9637C209.142 71.8512 208.923 71.7934 208.661 71.7934C208.371 71.7934 208.124 71.8633 207.921 72.0002C207.714 72.131 207.557 72.3165 207.452 72.5598C207.344 72.8031 207.292 73.092 207.292 73.4235V73.4965C207.292 74.0561 207.421 74.4758 207.687 74.7495C207.958 75.0262 208.352 75.1631 208.87 75.1631C209.049 75.1631 209.253 75.1448 209.475 75.1023C209.703 75.0536 209.918 74.9776 210.116 74.8711C210.264 74.7921 210.39 74.7556 210.498 74.7616C210.612 74.7708 210.701 74.8103 210.769 74.8833C210.834 74.9502 210.871 75.0354 210.88 75.1388C210.896 75.2361 210.88 75.3395 210.831 75.4429C210.782 75.5402 210.695 75.6254 210.572 75.6983C210.325 75.8535 210.042 75.966 209.721 76.039C209.407 76.1028 209.12 76.1363 208.858 76.1363Z" fill="#445441"/>
  <path d="M216.984 76.1363C216.688 76.1363 216.37 76.1028 216.034 76.039C215.705 75.9842 215.409 75.8808 215.147 75.7348C215.039 75.6619 214.962 75.5828 214.912 75.4915C214.869 75.4033 214.854 75.3152 214.863 75.2239C214.878 75.1266 214.915 75.0475 214.974 74.9806C215.029 74.9076 215.103 74.8651 215.196 74.8468C215.295 74.8225 215.396 74.8407 215.504 74.8955C215.782 75.0262 216.041 75.1144 216.281 75.1631C216.528 75.2118 216.765 75.2361 216.996 75.2361C217.332 75.2361 217.579 75.1844 217.736 75.0779C217.899 74.9654 217.983 74.8164 217.983 74.6278C217.983 74.4666 217.927 74.345 217.822 74.2629C217.714 74.1747 217.554 74.1108 217.341 74.0682L216.306 73.8736C215.877 73.7945 215.547 73.6394 215.319 73.4113C215.097 73.1863 214.986 72.8882 214.986 72.5233C214.986 72.2009 215.076 71.9211 215.258 71.6839C215.446 71.4406 215.701 71.2551 216.022 71.1243C216.349 70.9966 216.725 70.9297 217.144 70.9297C217.446 70.9297 217.73 70.9631 217.995 71.027C218.266 71.0939 218.525 71.1943 218.772 71.3311C218.877 71.3798 218.947 71.4497 218.981 71.5379C219.021 71.6292 219.031 71.7204 219.006 71.8177C218.988 71.909 218.947 71.988 218.883 72.061C218.824 72.134 218.747 72.1796 218.648 72.1948C218.556 72.2131 218.454 72.1918 218.34 72.134C218.124 72.0306 217.921 71.9515 217.724 71.9029C217.526 71.8542 217.335 71.8299 217.156 71.8299C216.817 71.8299 216.568 71.8907 216.404 72.0124C216.238 72.1279 216.158 72.277 216.158 72.4625C216.158 72.6085 216.207 72.7301 216.306 72.8274C216.404 72.9187 216.552 72.9825 216.75 73.0221L217.785 73.2167C218.235 73.2988 218.578 73.4478 218.809 73.6668C219.037 73.8858 219.154 74.1777 219.154 74.5427C219.154 75.0475 218.957 75.4398 218.562 75.7227C218.168 75.9994 217.64 76.1363 216.984 76.1363Z" fill="#445441"/>
</svg>
    </div>
    <div class="col d-flex justify-content-between align-items-end conteudos">
        <a class="nav-link text-dark" style="padding: 0 10px 0 10px;" asp-area="" asp-controller="Home" asp-action="Privacy"><div class="buscar">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="16" viewBox="0 0 18 16" fill="none" style="margin-right: 5px;">
            <path d="M16.2489 15L14.7665 13.6274M8.17012 14.0393C9.09478 14.0393 10.0104 13.8706 10.8647 13.543C11.7189 13.2154 12.4952 12.7351 13.149 12.1297C13.8028 11.5243 14.3215 10.8056 14.6753 10.0146C15.0292 9.2236 15.2113 8.37581 15.2113 7.51964C15.2113 6.66347 15.0292 5.81568 14.6753 5.02468C14.3215 4.23368 13.8028 3.51496 13.149 2.90956C12.4952 2.30415 11.7189 1.82392 10.8647 1.49628C10.0104 1.16864 9.09478 1 8.17012 1C6.30267 1 4.51171 1.68689 3.19123 2.90956C1.87075 4.13223 1.12891 5.79052 1.12891 7.51964C1.12891 9.24875 1.87075 10.9071 3.19123 12.1297C4.51171 13.3524 6.30267 14.0393 8.17012 14.0393Z" stroke="#393532" stroke-width="1.64707" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            Buscar
        </div>
        </a>
        <a class="nav-link text-dark" style="padding: 0 10px 0 10px;" asp-area="" asp-controller="Home" asp-action="Privacy"><div class="buscar">Contato</a>
    </div>
  </div>
    <div class="col"></div>
            </div>
</div>
        </nav>
    </header>
    <div class="container d-flex pb-5">
        <main role="main" class="pb-3 w-100 d-flex justify-content-center mb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container d-flex w-100 align-items-center mt-3 mb-3 px-0 justify-content-center">
          <div class="row d-flex w-100">
          <div class="col w-100">
            <img src="mVariedadesico.ico" alt="">
          </div>
          <div class="col redes d-flex flex-column px-0">
            <p class="h6">Redes Sociais</p>
          <ul class="col d-flex justify-content-start align-items-center px-0 mb-0">
            <li>
              <a href=""><img class="pe-3" src="instagram.ico" alt="Instagram">
          </a>
            </li>
            <li>
              <a href=""><img src="facebook.ico" alt="Facebook"></a>
            </li>
          </ul>
          </div>
            <div class="col copyright d-flex align-items-center justify-content-center text-center"> 
              <div class="copy pe-2">   
            <p class="h6">&copy;Copyright 2023 Mangaba Variedades - Todos os direitos reservados</p>
              </div>
            </div>
            <div class="col colab d-flex justify-content-between w-100">
              <div class="desenvolvimento d-flex justify-content-center text-center flex-column text-dark">
              <p class="h6 px-0">Desenvolvimento</p>
                <div class="koios text-dark flex-column justify-content-center">
                  <img class="align-self-center" src="Koios.svg" width="48" alt="Koíos">
                  <p class="h6">Koíos</p>
                </div>
            </div>
            <div class="design d-flex justify-content-start text-start flex-column text-dark">
              <p class="h6">Design</p>
              <img class="" src="criativa.svg" style="max-width: 72px;" alt="Criativa">
            </div>
            </div>
          </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
